/* TIPOGRAFIAS */
/* font-family: "DM Serif Display", serif; */
/* font-family: "DM Sans", sans-serif; */

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&display=swap");
@import "../node_modules/bootstrap/scss/bootstrap";

/* RESETEO DE ESTILO BY DEFAULT */
*{
    margin: 0;
    padding: 0;
    font-family: "DM Sans", sans-serif;
}

.navbar-expand-lg  {
    display: flex;
    flex-basis: auto;
    /* flex-wrap: wrap; */
    align-content: center;
    justify-content: space-evenly;
}
.collapse navbar-collapse {
    align-content: center;
    justify-content: space-evenly;

}

/* Card styles */


.cards {
    display: flex;
    gap: 0.5rem;
    max-width: 100%;

}
.card {
    
    width: 50%;
    border: 5px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
    text-align: center;
    align-content: center;
    align-items: center;
    float: left;
}


.card img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.card h2 {
    margin-top: 0;
    text-align: center;
}

.card p {
    margin-bottom: 0;
    text-align: center;
}

.whatsapp {
    position: fixed;
    top: 90%;
    right: 100px;
}

.whatsapp button {
    background-color: #2db1da;
    color: #fff;
    padding: 15px;
    border-radius: 15px;
}

/* contact form */
.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .container h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  

  
  .form-group input[type=text],
  .form-group input[type=email],
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .form-group textarea {
    height: 120px;
  }
  
  .form-group input[type=submit] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .form-group input[type=submit]:hover {
    background-color: #0056b3;
  }
           /* Responsive styles */
           @media (min-width: 576px) {
            .container {
                max-width: 540px;
            }
        }

        @media (min-width: 768px) {
            .container {
                max-width: 720px;
            }
        }

        @media (min-width: 992px) {
            .container {
                max-width: 960px;
            }
            
      form {
        flex-direction: row;
        flex-wrap: wrap;
      }

      label, input, textarea {
        width: 100%;
        margin-bottom: 20px;
      }

      label {
        flex-basis: 100%;
      }

      input, textarea {
        flex-basis: calc(50% - 10px);
      }

      input + input, textarea {
        margin-left: 20px;
      }
    }

    @media (min-width: 1200px) {
      .container {
        max-width: 1140px;
      }
    }

  .carousel-item active {
    position: fixed;
    top: 0;
    left: 0;
    max-width: 80%;
    height: 50%;
    height: 400px;
    padding: auto;
    width: 70vw;
    
    ;
}



.carousel > .carousel-inner > .carousel-item > img{
  width:250px; /* Yeap you can change the width and height*/
  height:480px;
}

.carousel-inner > .item {
  height: 400px;
  padding: auto;
  width: 250px;
}
.w-100 {
  width: 54% !important;
}




  @media screen and (width <= 768px) {
    /* ... */
    .card {
          width: 100%;
  
  }
  }